*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color:#546e7a;
    --twitter-background:#819ca9;
    background-color: #29434e;
    color: #E0E7E9;  /*  */
	
    
}

/*------------------------------------------ แถบขวา------------------------------------------------*/
.sidbarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.sidbarOption .material-icons, 
.fa-twitter {
    padding: 20px;
}

/* โลโก้*/
.logo img {
    
    height: 20ch;
    justify-content: center;
    
    
}

.sidbarOption h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

/* ขอบปุ่ม*/
.sidbarOption:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color:var(--twitter-color);
    transition: color 100ms ease-out;
}


/* ปุ่ม tweet*/
.sidebar_tweet{
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.sidebar_tweet:hover{
    background-color: var(--twitter-background);
    color: var(--twitter-color);
}

/* ทำให้เป็นบล็อคทางขวา*/
body{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

/* ขีดบล็อคขวา */
.sidebar{
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
h2{
	color: white;
	text-decoration:none;
}

/* End */


.text-center{
	text-align: center;
  }
  
  .space-bot{
	margin-bottom: 35x;
  }
  
  .space-top{
	margin-top: 35px;
  }
  
  /* Title */
  
  h1 {
	  color: white;
	  font-family: 'Roboto';
	  text-transform: uppercase;
	  font-weight: 900;
	  font-size: 25px;
	  text-align: center;
  }
  
  /* Sign Up */
  
  .container {
	  max-width: 400px;
	  max-height: 100px;
	  margin-top: 200px;
	  margin-left: 400px;
	 }
  
  .alert-danger{
	  text-align: center;
  }
  
  .signup-screen {
		padding: 20px;
	  padding-bottom: 40px;
	  border-radius: 5px;
	  background-color: #2c3940;
	  box-shadow: 0 1px 6px rgba(0,0,0,.3);
	  color: white;
  }
  
  .btn{
	border-radius: 2px;
  }
  
  .cancel{
	background-color: #df405a;
  }
  
  .done{
	background-color: #5CAB7D;
  }
  
  .done:hover{
	background-color: #6dc793;
  }
  
  .done:focus{
	background-color: #6dc793;
  }
  
  .cancel:hover{
	background-color: #f0435f;
  }
  
  .cancel:focus{
	background-color: #f0435f;
  }
  
  .input-group {
	  width:100%;
  }
  
  .input-group .ng-invalid {
	  border: 2px solid #e74c3c;
	  border-radius: 3px;
  }
  
  /* Error Box */
  
  .alert{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 2px;
	border-color: #e85a71;
	background-color:  #e85a71;
	color: white;
	
  }
  
  .help-block {
	  font-size: 12px;
	  color: white
  }