<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Main</title>    
            

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
             rel="stylesheet">

           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
           integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
           crossorigin="anonymous" />

            <link rel="stylesheet" href="style.css">
        
        </head>


        <BODY>
            <!--------------------------------------------------------แถบ ขวา เริ่ม--------------------------------------------------->
            <div class="sidebar">
              <div class="logo">
                  <img src="/tempast/img/We-logos_white.png"alt=""></div>    <!--icon-->
              <div class="sidbarOption active">
                  <span class="material-icons">home</span> <!--icon home-->
                  <a href="/tempast/main.html"><h2>Home</h2></a>
              </div>
             
              <div class="sidbarOption">
                  <span class="material-icons">notifications_none</span> <!--icon notifications-->
                  <a href="/DONATE/index.html"><h2>Donate</h2></a>
              </div>

              <div class="sidbarOption">
                  <span class="material-icons">list_alt</span> <!--icon List-->
                  <a href="/post/post.html"><h2>Create a Poll</h2></a>
              </div>
              
              <div class="sidbarOption">
                  <span class="material-icons">perm_identity</span> <!--icon notifications-->
                  <a href="/profile/VOTE.HTML"><h2>Profile</h2></a>
              </div>
          
        
             
              <div class="sidbarOption">
                  <span class="material-icons">perm_identity</span> <!--icon Profile-->
                  <a href="/login/login.html"><h2>เข้าสู่ระบบ</h2></a>
              </div>
              <div class="sidbarOption">
                  <span class="material-icons">perm_identity</span> <!--icon Profile-->
                  <a href="/Register/singUp.HTMl"><h2>สร้างบัญชี</h2></a>
              </div>
              
          </div>
           
            <body ng-app='polApp'>
                <!--engine-->
                <div class="container" ng-controller="pollCtrl">
                  <h1>เห็นด้วยกับการ จัดอุปกรณ์พร้อมอินเตอร์เน็ตคุณภาพดี ให้ครูและนักเรียนไทยหรือไม่</h1>
                  <div class="poll">
                  <img src="https://lh3.googleusercontent.com/proxy/Z2mUdzJrMGV6B20cMr6lgTvsMS4lC1-W-SXjqSUfMrMtiTnHx2qb53R8XWOGa4LOdM8Pb66BHD-3s_4PyTaSUaFcuMsyQiLoJhu4gtB5_geMXt8uguEEDmC4TxI7r0QID1MLo3em6ixe5QzNgpTOxOIaUv71EVx62mMltothp9Pb6ysRHhwcPBl46Zvmjk8uLUyIyOgw7MeVWUOUmeyhhYthg80Muz-YPSvyCys8UwrIc33jPxU5OB2UCF6Q4pGguelOoy-PHMLyz6fGzh9bofHHU20ZCklq-_524qjieWs3nb6qy2ip3eVnlS_D2dBxTDX_jdBB0qwUxm_KDqTG3wcYe-zkbh5J6o-MP0dWyksy9Z3VFXoxgdGqV89BHMrTyw8q2gYSpywrFhkyFv3OZawLpClYhcW1Qbf6KKU7Q6ISVhuFthfCmxGCaZnX1zdBbuPFeIgPOa5m1eARYbiilHajpIDCAdmAV3eKrznzLGezCzAZg6V3nC7xKB7TmkU9XCbpLNjJiBoPqqZrqexwgvY0RCQf83RJYROPNsxZEL8vkzn16AL25WWAmdQkSDbZ6g2fknCBitNV1JTKp1FW7MmZFD154ZBqyjk_xJM5T_Z4SnJ5CniseAHr4tAST_Za_EagvkEl97h5XbPhccyE47moTWFJA8GlGHJceNzLbW-vAvNMI9mk4DyPs7hPS-p0P4BalrzjqwoJUfp0MDZRKqi2TcYq55JA0P_GosjvGikVUkzqX0sAp5mnWWIB4LBjqhQKFNUl3WXtxw-9bBoKThaiL5QYaYyCBWFUuCw6EEJcFmKUBB-x30eTgHd3uPsXOFT7JHAQmUo"></div>
                  <div class="Text">
                    

                 เรียนออนไลน์ 100% 
                 ผลักภาระนักเรียน 100%
                 ขอส่งเสียงดังๆ ว่าทางนี้ก็สาหัส

                 จากสถานการณ์แพร่ระบาดของเชื้อไวรัสโควิค-19 หลายระลอกที่ผ่านมา ผลกระทบกับการศึกษาจัดได้ว่าสาหัสไม่แพ้กัน
                 มีคลื่นสัญญาณอ่อนๆ จากหน่วยงานเกี่ยวข้อง ว่ารับทราบหลักการ พ่นไอเดีย และรับปากเพื่อดำเนินการ

                แต่จากหลายวันนั้น จนวันนี้ สถานการณ์กลับเลวร้ายลง ไม่มีนโยบายเร่งด่วนออกมาเป็นรูปธรรม การศึกษา โรงเรียน นักเรียน ครู และผู้ปกครองยังคงถูกทอดทิ้ง
                  </div>
                  <br>
                  <div class="question" ng-hide="answered">
              
                    <button type="button" class="button-yes"name="Yes" ng-click="addYes(); answered = true">Yes</button>
                    <button type="button" class="button-no"name="No" ng-click="addNo(); answered = true">No</button>
                  </div>
                  <!--Chart-->
              
                  <div class="loading_bars" ng-show="answered">
                    <div class="cylinder">
                      <div class="yes_fill fill" ng-style="{height: yesPer + '%'}"></div>
                      <div class="per">{{yesPer}}%</div>
                    </div>
                    <div class="cylinder">
                      <div class="no_fill fill" ng-style="{height: noPer + '%'}"></div>
                       <div class="per">{{noPer}}%</div>
                    </div>
                  </div>
              
                  <div class="statistics" ng-show="answered">
                    <div class="yes"><span class='yess'></span><span>YES</span></div>
                    <div class="no"><span class='noo'></span><span>NO</spaN></div>
                    
                   
                    <div class="total">total:{{total}}</div>
              
                  </div>
              
              
                </div>
              </body>
              <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js'></script><script  src="./script.js"></script>

</body>
</html>