
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Main</title>    
            

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
             rel="stylesheet">

           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
           integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
           crossorigin="anonymous" />

            <link rel="stylesheet" href="main.css">
        
        </head>
        <body>
            <!--------------------------------------------------------แถบ ขวา เริ่ม--------------------------------------------------->
            <div class="sidebar">
                <div class="logo">
                    <img src="/tempast/img/We-logos_white.png"alt=""></div>    <!--icon-->
                <div class="sidbarOption active">
                    <span class="material-icons">home</span> <!--icon home-->
                    <a href="/tempast/main.html"><h2>Home</h2></a>
                </div>
               
                <div class="sidbarOption">
                    <span class="material-icons">notifications_none</span> <!--icon notifications-->
                    <a href="/DONATE/index.html"><h2>Donate</h2></a>
                </div>
 
                <div class="sidbarOption">
                    <span class="material-icons">list_alt</span> <!--icon List-->
                    <a href="/post/post.html"><h2>Create a Poll</h2></a>
                </div>
                
                <div class="sidbarOption">
                    <span class="material-icons">perm_identity</span> <!--icon notifications-->
                    <a href="/profile/VOTE.HTML"><h2>Profile</h2></a>
                </div>
            
          
               
                <div class="sidbarOption">
                    <span class="material-icons">perm_identity</span> <!--icon Profile-->
                    <a href="/login/login.html"><h2>เข้าสู่ระบบ</h2></a>
                </div>
                <div class="sidbarOption">
                    <span class="material-icons">perm_identity</span> <!--icon Profile-->
                    <a href="/Register/singUp.HTMl"><h2>สร้างบัญชี</h2></a>
                </div>
                
            </div>
            <!--------------------------------------------------------แถบ ขวา จบ--------------------------------------------------->


            <!--------------------------------------------------------ตรงกลาง เริ่ม--------------------------------------------------->
            <div class="feed">
                <div class="feed_header">
                    <h2>Home</h2>
                </div>
                        
                <!--text box start-->        
             
                <!--text box end-->

                <!--กล่อง โพสต์ ต้น 112-->
            <div class="post_112">
                <div class="post">
                    <div class="post_avatar">
                    <img src="" alt="">
                    </div>
                    
                 <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>NATACHA MAHIDON
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>ความเห็นต่อค่านิยมการบอกรัก/แสดงความรักในวันวาเลนไทน์ </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/poll/dist/VOTE.HTML" ><img src="https://s.isanook.com/ca/0/rp/r/w850/ya0xa0m1w0/aHR0cHM6Ly9zLmlzYW5vb2suY29tL2NhLzAvdWQvMTg2LzkzMTgyMi92YWxlbnRpbmVzLWRheS5qcGc=.jpg" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                <!--กล่อง โพสต์ จบ 112-->
                <!--กล่อง โพสต์ ต้น 112-->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                    
                 <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>Natthapol sudjarit
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>คุณเคยติดโควิดหรือไม่ </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/covid-19/VOTE.HTML" ><img src="https://images.unsplash.com/photo-1623438787452-56beec0c9d62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fGNvdmlkJTIwMTl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                <!--กล่อง โพสต์ จบ 112-->
                <!--กล่อง โพสต์ ต้น 112-->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                    
                 <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>NATTAPOLL GASALIN
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>ฉีดวัคซีนแล้วหรือไม่ </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/covid-19-1/VOTE.HTML" ><img src="https://media.istockphoto.com/photos/mature-man-taking-a-vaccine-from-his-doctor-picture-id1266494637?b=1&k=20&m=1266494637&s=170667a&w=0&h=EfXVy9i-fKkPBl5vX8D1JNfXXw_EQySze7CMQUqSkik="" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                <!--กล่อง โพสต์ จบ 112-->
                <!--กล่อง โพสต์ ต้น 112-->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                    
                 <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>KIMSON MAKAROF
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>เห็นด้วยกับการฉีดวัคซีนไขว้กันหรือไม่. </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/covid-19-2/VOTE.HTML" ><img src="https://images.unsplash.com/photo-1623682687826-fe06bf64e6d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHZhY2NpbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"alt=></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                
                <!--กล่อง โพสต์ จบ 112-->

                <!-- start -->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                 
                    <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>TANAKIT MINAI
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>ห็นด้วยกับการที่เด็กรุ่นใหม่ย้ายประเทศหรือไม่ #ข่าวการย้ายประเทศ </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/tangprates/VOTE.HTML" ><img src="https://images.unsplash.com/photo-1613018274564-bec35a774995?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fGFpcnBvcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                
                <!-- End -->
  
                <!-- start -->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                 
                    <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>PONSAKRON KASN
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>สมควรโดนฟ้องหรือไม่ #ข่าวต่างประเทศ </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/tangprates-1/VOTE.HTML" ><img src="https://media.istockphoto.com/photos/binary-code-picture-id122204403?b=1&k=20&m=122204403&s=170667a&w=0&h=tYKiboZF8lNrgAk3tD11J_5y63qcopVQ3Sw6jwcdlgs=" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                
                <!-- End -->
                <!-- start -->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                 
                    <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>AKKACHAI SILKIGUN
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>เห็นด้วยกับการทำประกันให้ ไรเดอร์หรือไม่ </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/อุบัตติเหตุ/VOTE.HTML" ><img src="https://assets.change.org/photos/4/id/zk/ltIdzKQxndnzzHl-800x450-noPad.jpg?1631284823" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                
                <!-- End -->
                <!-- start -->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                 
                    <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>HUDSAN MAKASAI
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>เห็นด้วยกับการปฏิรูปการศึกษาหรือไม่ </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/เราต้องปฏิรูปการศึกษาที่ล้มเหลวโดยเร็วที่สุด และทั่วโลกกำลังให้ความสำคัญ/VOTE.HTML" ><img src="https://www.matichon.co.th/wp-content/uploads/2017/06/%E0%B8%A0%E0%B8%9B-%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2.jpg" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                
                <!-- End -->
                <!-- start -->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                 
                    <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>NOPPALIS .NSA
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>เห็นด้วยกับการ จัดอุปกรณ์พร้อมอินเตอร์เน็ตคุณภาพดี ให้ครูและนักเรียนไทยหรือไม่ </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/เห็นด้วยกับการจัด/VOTE.HTML" ><img src="https://lh3.googleusercontent.com/proxy/Z2mUdzJrMGV6B20cMr6lgTvsMS4lC1-W-SXjqSUfMrMtiTnHx2qb53R8XWOGa4LOdM8Pb66BHD-3s_4PyTaSUaFcuMsyQiLoJhu4gtB5_geMXt8uguEEDmC4TxI7r0QID1MLo3em6ixe5QzNgpTOxOIaUv71EVx62mMltothp9Pb6ysRHhwcPBl46Zvmjk8uLUyIyOgw7MeVWUOUmeyhhYthg80Muz-YPSvyCys8UwrIc33jPxU5OB2UCF6Q4pGguelOoy-PHMLyz6fGzh9bofHHU20ZCklq-_524qjieWs3nb6qy2ip3eVnlS_D2dBxTDX_jdBB0qwUxm_KDqTG3wcYe-zkbh5J6o-MP0dWyksy9Z3VFXoxgdGqV89BHMrTyw8q2gYSpywrFhkyFv3OZawLpClYhcW1Qbf6KKU7Q6ISVhuFthfCmxGCaZnX1zdBbuPFeIgPOa5m1eARYbiilHajpIDCAdmAV3eKrznzLGezCzAZg6V3nC7xKB7TmkU9XCbpLNjJiBoPqqZrqexwgvY0RCQf83RJYROPNsxZEL8vkzn16AL25WWAmdQkSDbZ6g2fknCBitNV1JTKp1FW7MmZFD154ZBqyjk_xJM5T_Z4SnJ5CniseAHr4tAST_Za_EagvkEl97h5XbPhccyE47moTWFJA8GlGHJceNzLbW-vAvNMI9mk4DyPs7hPS-p0P4BalrzjqwoJUfp0MDZRKqi2TcYq55JA0P_GosjvGikVUkzqX0sAp5mnWWIB4LBjqhQKFNUl3WXtxw-9bBoKThaiL5QYaYyCBWFUuCw6EEJcFmKUBB-x30eTgHd3uPsXOFT7JHAQmUo" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                
                <!-- End -->
                <!-- start -->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                 
                    <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>PONGSAKRON KASANI
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>เห็นด้วยกับการให้คะเเนนนักศึกษา จากยอกไลค์ยอกเเชรหรือไม่ </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/ไม่ควรมีการ/VOTE.HTML" ><img src="https://assets.change.org/photos/2/fx/am/DTFXamFSRAsDIeb-800x450-noPad.jpg?1614662346" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                
                <!-- End -->
                <!-- start -->
                <div class="post">
                    <div class="post_avatar">
                    <img src="/img/Khet Circle.png" alt="">
                    </div>
                 
                    <div class="post_body">
                     <div class="post_header">
                         <div class="post_headerText">
                             <h3>KIMSON LAVISA
                                <span class="post_headerSpecial">
                                    <span class="material-icons post_badge">verified</span>@
                                </span>
                             </h3>
                         </div>
                         <div class="post_headerDescription">
                             <p>นายก ประยัทธ์ จั้นทรา ควรลาออก!!! </p>
                         </div>
                     </div>


                     <a href ="/ต ย พ/การเมือง ควรลาออก/dist/getout!!!.html" ><img src="https://lh3.googleusercontent.com/proxy/30Jq8TDDGf1NINCI64VNzNhQCSg7ZTDTyubHTRP806azKnjoaghpCvEe8sk2Oo79VcfS693LLtRRGbSNORJbbiGG19tUIMzF2j9kO7L-YCotUGf3KOTzPiZBKTzEvjrx_sUp52eDJ2OniUXpNjqDcLYWKDOgTv26zLagZBKRWs6w" alt=""></a>


                     <div class="post_footer">
                        <span class="material-icons">repeat</span>
                        <span class="material-icons">favorite_border</span>
                        <span class="material-icons">publish</span>
                     </div>
                 </div>   
                </div>
                
                <!-- End -->

<!-- start -->
<div class="post">
    <div class="post_avatar">
    <img src="/img/Khet Circle.png" alt="">
    </div>
 
    <div class="post_body">
     <div class="post_header">
         <div class="post_headerText">
             <h3>PASADO DOSILI
                <span class="post_headerSpecial">
                    <span class="material-icons post_badge">verified</span>
                </span>
             </h3>
         </div>
         <div class="post_headerDescription">
             <p>The Amazing Spider Man 3?. </p>
         </div>
     </div>


     <a href ="/ต ย พ/หนัง amazing spiderman/dist/spidy.html" ><img src="https://www.prachachat.net/wp-content/uploads/2019/08/spider-man-far-from-home.jpg" alt=""></a>


     <div class="post_footer">
        <span class="material-icons">repeat</span>
        <span class="material-icons">favorite_border</span>
        <span class="material-icons">publish</span>
     </div>
 </div>   
</div>

<!-- End -->
<!-- start -->
<div class="post">
    <div class="post_avatar">
    <img src="/img/Khet Circle.png" alt="">
    </div>
 
    <div class="post_body">
     <div class="post_header">
         <div class="post_headerText">
             <h3>JANJURI KINFGA
                <span class="post_headerSpecial">
                    <span class="material-icons post_badge">verified</span>
                </span>
             </h3>
         </div>
         <div class="post_headerDescription">
             <p>Ralf Rangnick มา Man U!!?? </p>
         </div>
     </div>


     <a href ="/ต ย พ/กีฬา เห็นด้วยมั้ยที่รังกิจคุม แมนยู/dist/man-u.HTML" ><img src="https://phantom-marca.unidadeditorial.es/66b0cc8983439b3bb05e6ddfe956d3d1/crop/0x26/2048x1176/resize/1320/f/jpg/assets/multimedia/imagenes/2021/11/25/16378644007639.jpg" alt=""></a>


     <div class="post_footer">
        <span class="material-icons">repeat</span>
        <span class="material-icons">favorite_border</span>
        <span class="material-icons">publish</span>
     </div>
 </div>   
</div>

<!-- End -->


<!-- End -->












            </div>
            </div>
            <!--------------------------------------------------------ตรงกลาง จบ--------------------------------------------------->

            <!--------------------------------------------------------แถบ ซ้าย เริ่ม--------------------------------------------------->
           
            <body>
                <!-- partial:index.partial.html -->
                <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
                
            <div ng-app>
                <div ng-controller="contactsCtrl">
                  <section class="header">
                    
                    <form action="" class="cont">
                      <input type="text" class="srchFld" placeholder="" ng-model="search"/>
                      <button type="submit" class="srchBtn">Search</button>
                      <div class="entypo-search ico"></div>
                    </form>
                  </section>
                  <section class="content">
                    <div class="contact" ng-repeat="contact in contacts | filter:search" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                      <div class="wrapr">
                        <span class="imgWrpr"><center><img src="{{contact.img}}" alt="" /></center></span>
                        <span class="contactInfo">
                          <div class="name">{{contact.name}}</div>
                          <div>{{contact.year}}</div>
                          <div>{{contact.code}}</div>
                          
                        </span>
                      </div>
                    
                    </div>
                  </section>
                </div>
              </div>
                <box></box>
              <script  src="./script.js"></script>
            
            <!--------------------------------------------------------แถบ ซ้าย เริ่ม--------------------------------------------------->















        </body>
        </html>
    

