<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Main</title>    
            

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
             rel="stylesheet">

           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
           integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
           crossorigin="anonymous" />

            <link rel="stylesheet" href="style.css">
        
        </head>


        <BODY>
            <!--------------------------------------------------------แถบ ขวา เริ่ม--------------------------------------------------->
            <div class="sidebar">
              <div class="logo">
                  <img src="/tempast/img/We-logos_white.png"alt=""></div>    <!--icon-->
              <div class="sidbarOption active">
                  <span class="material-icons">home</span> <!--icon home-->
                  <a href="/tempast/main.html"><h2>Home</h2></a>
              </div>
             
              <div class="sidbarOption">
                  <span class="material-icons">notifications_none</span> <!--icon notifications-->
                  <a href="/DONATE/index.html"><h2>Donate</h2></a>
              </div>

              <div class="sidbarOption">
                  <span class="material-icons">list_alt</span> <!--icon List-->
                  <a href="/post/post.html"><h2>Create a Poll</h2></a>
              </div>
              
              <div class="sidbarOption">
                  <span class="material-icons">perm_identity</span> <!--icon notifications-->
                  <a href="/profile/VOTE.HTML"><h2>Profile</h2></a>
              </div>
          
        
             
              <div class="sidbarOption">
                  <span class="material-icons">perm_identity</span> <!--icon Profile-->
                  <a href="/login/login.html"><h2>เข้าสู่ระบบ</h2></a>
              </div>
              <div class="sidbarOption">
                  <span class="material-icons">perm_identity</span> <!--icon Profile-->
                  <a href="/Register/singUp.HTMl"><h2>สร้างบัญชี</h2></a>
              </div>
              
          </div>
           
            <body ng-app='polApp'>
                <!--engine-->
                <div class="container" ng-controller="pollCtrl">
                  <h1>ฉีดวัคซีนแล้วหรือไม่ #โควิด-19</h1>
                  <div class="poll">
                  <img src="https://media.istockphoto.com/photos/mature-man-taking-a-vaccine-from-his-doctor-picture-id1266494637?b=1&k=20&m=1266494637&s=170667a&w=0&h=EfXVy9i-fKkPBl5vX8D1JNfXXw_EQySze7CMQUqSkik="alt=></div>
                  <div class="Text">
                    “ช่วงต้นปียังคาดการณ์ไม่ถูกว่าวัคซีนป้องกันโรคได้นานหรือต้องฉีดกระตุ้นซ้ำๆ  เมื่อเทียบบทเรียนจากไข้หวัดใหญ่ 2009 จะเห็นว่าแม้ผ่านมา10 ปีแล้วก็ยังต้องฉีดวัคซีนไข้หวัดใหญ่อยู่ และเมื่ออยู่ร่วมกับโควิดมา 2 ปี  เห็นข้อมูลว่าคนที่ติดเชื้อ ภูมิคุ้มกันก็ลดลง หรือรับวัคซีนแล้ว ภูมิก็ลดลง”
                  </div>
                  <br>
                  <div class="question" ng-hide="answered">
              
                    <button type="button" class="button-yes"name="Yes" ng-click="addYes(); answered = true">Yes</button>
                    <button type="button" class="button-no"name="No" ng-click="addNo(); answered = true">No</button>
                  </div>
                  <!--Chart-->
              
                  <div class="loading_bars" ng-show="answered">
                    <div class="cylinder">
                      <div class="yes_fill fill" ng-style="{height: yesPer + '%'}"></div>
                      <div class="per">{{yesPer}}%</div>
                    </div>
                    <div class="cylinder">
                      <div class="no_fill fill" ng-style="{height: noPer + '%'}"></div>
                       <div class="per">{{noPer}}%</div>
                    </div>
                  </div>
              
                  <div class="statistics" ng-show="answered">
                    <div class="yes"><span class='yess'></span><span>YES</span></div>
                    <div class="no"><span class='noo'></span><span>NO</spaN></div>
                    
                   
                    <div class="total">total:{{total}}</div>
              
                  </div>
              
              
                </div>
              </body>
              <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js'></script><script  src="./script.js"></script>

</body>
</html>